*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo{
  width: 150px;
}

.bg-green{
  background-color: #38761D;
}

label{
  width: 120px;
  font-size: 13px;
}

.form-control{
  outline: unset !important;
  box-shadow: unset !important;
  font-size: 13px;
}
td span{
  font-size: 13px;
}

td{
  padding: 10px;
}

span{
  font-size: 13px;
}

.py-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-right{
  text-align: right;
}
.csvbtn{
  background-color: #38761D;
  color: #fff;
  border: unset;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}